body{
    background-color: #3A59D1;
    color: #3D90D7;
}
header
{
    
    box-sizing: border-box;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 30px 1px;
    text-align: center;
    align-content: center;
    
}
div
{
    display: inline;
}

h1
{
    text-align: center;
    align-content: center;

}
h2
{
    text-align: center;
    align-content: center;
    
}


h3{
    text-align: center;
}

#habilidades
{
    display: none;
}

#tecnologias
{
    display: none;
    
    
}
#experiencia
{
    display: none;
}
button
{
    border-radius: 20px;
    background-color: #7AC6D2;
    color: #3A59D1;
}

#fondo
{
    max-width: 800px;
    min-width: 300px;
    padding-left: 94%;
}


.contacto
{
    width: 40px;
    height: 40px;
    
}
.seccion
{
    color: #3D90D7;
    width: 100%;
    margin: auto ;
    
    border: 1px solid #B5FCCD;
}
article
{
    display:inline-block;
    
    
}

footer
{
    padding: auto;
    align-items: center;
    align-content: center;
    text-align: center;
}